@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import 'react-toastify/dist/ReactToastify.css';

#imgProfesional {
    width: auto;
    border-radius: 50px;
  }
/* --- LAYOUT --- */
#logoNav {
  height: 100%;
  max-height: 5em;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.layout-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  flex-shrink: 0;
  margin-bottom: 1em ;
}

/* Footer */
.footer {
  flex-shrink: 0;
  padding: 1rem 1.5rem;
  margin-top: 1em ;
}


/* --- REGISTER --- */

.register-section, .verify-section{
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  background: url("/assets/register.jpg") no-repeat center center/cover;
  justify-content: right;
}

.register-card, .verify-card{
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 38em;
  height: 40em;
  margin: 1em 7em 5em 0;
  justify-content: center;
  align-items: center;
}

.card-content{
  justify-content: center;
  align-items: center;
} 
  
.control.has-icons-right .icon.is-right.eyeRegister {
  pointer-events: auto !important;
  z-index: 10 !important;
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(119, 118, 118);
}

/* --- LOGIN --- */

  .login-section {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    background: url("/assets/login.jpg") no-repeat center center/cover;
    justify-content: right;
  }

  .login-card {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 38em;
    margin: 3em 7em 19em 0 
  }


  